<!doctype html>
<html ng-app='NarrowItDownApp' lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body >
   <div ng-controller='NarrowItDownController as narrowCtrl' class="col-md-12 container">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="row form-group">
      <div class="col-md-2 form-group">
        <input type="text" ng-model="narrowCtrl.textToSearch" placeholder="search term" class="form-control">
      </div>
      <div class="form-group narrow-button">
        <button ng-click="narrowCtrl.NarrowIt();" class="btn btn-primary">Narrow It Down For Me!</button>
      </div>
    </div>

    <div class="row col-md-4">
      <!-- found-items should be implemented as a component -->
     <found-items items="narrowCtrl.items" on-remove="narrowCtrl.removeItem(index);"></found-items>
   </div>
  </div>

</body>
<script src="scripts/angular.min.js"></script>
<script src="scripts/app.js"></script>
</html>